.container {
    width: 100%;
    margin: auto;
}

.centre-align-heading {
    text-align: center;
}


.cake-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border: thin solid grey;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 5%;
}

.description-text {
    font-style: italic;
}

.cake-image {
    max-height: 100%;
    max-width: 100%;
}

.error {
    color: red;
}

#cake-list-container {
    float: left;
    width: 15%;
    margin-left: 5%;
}

#add-cake-container {
    float: left;
    width: 80%;
}

#add-cake-form-container {
    width: 30%;
    padding-left: 1%;
    margin: auto;
    border: thin solid grey;
}

#successful-submit-message {
    color: green;
}