<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cakes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{styles/css/main.css}">
</head>
<body>
<section class="container">
    <div id="cake-list-container">
        <h1 class="centre-align-heading">Available Cakes</h1>
        <div class="cake-container" th:each="cake: ${cakeList}">
            <h3 th:text="${cake.getTitle()}"></h3>
            <p>Description: <span class="description-text" th:text="${cake.getDescription()}"></span></p>
            <img class="cake-image" th:src="${cake.getImage()}" alt="Image URL Unavailable">
        </div>
    </div>
    <div id="add-cake-container">
        <h1 class="centre-align-heading">Add Cake</h1>
        <div id="add-cake-form-container">
            <p id="successful-submit-message" th:if="${submittedCake}" th:text="${'Cake with title ' + submittedCake?.title + ' successfully added'}"></p>
            <form action="#" th:action="@{/}" th:object="${cake}" method="post">
                <p>Title: <input id="title-input" type="text" th:field="*{title}" /></p>
                <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

                <p>Description: <input id="description-input" type="text" th:field="*{description}" /></p>
                <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

                <p>Image URL: <input id="image-input" type="text" th:field="*{image}" /></p>
                <span class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>

                <p><input type="submit" value="Submit" /></p>
            </form>
        </div>
    </div>
</section>
</body>
</html>